body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* container1 */
.container1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  animation: fadeOut 1s ease forwards;
  animation-delay: 4s; /* بعد 4 ثواني يبدأ يختفي */
  background: #061830;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(60deg, #528EE5,#CF1B18,#FFF8F0,#FFF8F0);
  background-clip: text;
  -webkit-background-clip: text;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s forwards, blink 0.7s step-end infinite alternate;
}

h2 {
  display: inline-block;
}

/* container2 */
.container2 {
  width: 100%;
  height: 100vh;
  opacity: 0; /* مخفي بالبداية */
  transition: opacity 1s ease;
}

/* keyframes */
@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}

@keyframes typing {
  from { width: 0; }
  to { width: 9ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #061830;
  flex-wrap: wrap; /* للسماح بالانكسار */
}

nav .div1 {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .div1 h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

nav .div2 {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

nav .div2 ul {
  display: flex;
  gap: 40px;
  font-size: 1.1rem;
}

li {
  list-style: none;
}

button a {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
}

button {
  width: 90px;
  height: auto;
  padding: 5px;
  border: none;
  background-color: #528EE5;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  transition: color 0.3s;
}

nav .div1 img {
  width: 120px;
  height: auto;
}
.information {
width: 100%;
height:auto;
color: white;
background-image: linear-gradient(
  to top right,
  rgba(207, 27, 24, 0.8) 0%,   /* أحمر صغير */
  #061830 7%,                 /* الأزرق الداكن يبدأ يسيطر بدري */
  #061830 93%,                 /* الأزرق الداكن يضل أغلب الشاشة */
  rgba(82, 142, 229, 0.3) 100% /* الأزرق الفاتح يا دوب يظهر في الزاوية */
);
}
.information .top {
  width: 100%;
  height: auto;
  display: flex;

  padding: 0 40px;
}
.information .top .left{
  padding: 60px;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.information .top .left h3{
  font-size: 72px;
  font-weight: 600;
  margin: 0;
  width: 100%;
}
.information .top .left p{
  font-size: 1.6rem;
  font-weight: 600;
  width: 100%;
  line-height: 1.5;
}
.information .top .right{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.information .top .right img{
  
  width: 100%;
  height: auto;

}
.information .top .left p span {
  color: #ffcf99;
  font-weight: 700;
}
.down{
  width: 100%;
  height: auto;
  display: flex;
  padding: 20px;
    position: relative;
    
    box-shadow: #061830 0px 10px 20px -5px;

}
.down .iconsLeft{
  width: 10%;

  position: relative;


}
.down .iconsRight {
  width: 20%;
 
  position: relative;
}
.shape {
  position: absolute;
  font-size: 7rem;
  font-weight: bold;
  transform-style: preserve-3d;
  transition: transform 0.15s linear;
  user-select: none;
}

/* تأثير 3D */
.x {
  color: #ff3b3b;
  text-shadow: 
    2px 2px 4px rgba(0,0,0,0.3),
    -2px -2px 4px rgba(255,255,255,0.4),
    0 8px 20px rgba(255,0,0,0.6);
    animation: icon 1s infinite alternate;
}

.o {
  color: #2e8bff;
  text-shadow: 
    2px 2px 4px rgba(0,0,0,0.3),
    -2px -2px 4px rgba(255,255,255,0.4),
    0 8px 20px rgba(0,100,255,0.6);
     animation: icono 1s infinite alternate;
}
@keyframes icon {
  from {
    transform: translateY(0) rotate(0deg);
  }
  to {
    transform: translateY(-20px) rotate(20deg);
  }
  
}
@keyframes icono {
  from {
    transform: translateY(-20px) rotate(20deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
  }
  
}

/* أماكن أولية */
.x1 { top: 10%; left: 0; transform: rotate(15deg); }
.o1 { bottom: 10%; right: 10%; }
.o3 { top: 40%; right: -60%; }
.x2 { top: 10%; right: 30%; transform: rotate(-20deg); }
.o2 { bottom: 15%; left: 10%; }
.x3 { bottom: 40%; left: -50%; transform: rotate(25deg); }
.down .infoCenter{
  width: 80%;
 background-color: white;
  display: flex;
color: black;
border-radius: 16px;

padding: 100px;
}
.down .infoCenter .one{
  width: 100%;
  height: auto;
  display: flex;

  padding: 20px;
}
.down .infoCenter .two{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.down .infoCenter .two h4{
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}
.down .infoCenter .two p{
  width: 90%;
  color: silver;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}
.down .infoCenter .one img{

  width: 100%;
  height: auto;
}

.contaet2{
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
 

}
.container2 .information .top .left button{
  width: 150px;
  height: auto;
  padding: 10px;
  border: none;
  background-color: #528EE5;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 20px;
}
.members{
  width: 100%;
  height: auto;
  padding: 20px 40px;
  background-color: #FFF8F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.members .infoMembers{
  margin-top: 200px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.members .infoMembers h2{
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #061830;
}
.members .infoMembers p{
  width: 60%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #87909D;
  
  line-height: 1.5;
}
.slider {
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 20px;
    }
.members .cards{
  
display: flex;
width: max-content;
gap: 20px;
      animation: scroll 30s linear infinite;
}
.members .cards .card{
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px 20px;
 box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.5s ease;
}
.members .cards .card img{
width: 200px;   /* العرض الثابت */
  height: 200px;  /* الطول الثابت */
  object-fit: cover; /* يخلي الصورة تنقص/تكبر بدون تشويه */
  border-radius: 10px; /* اختياري: يعطي حواف ناعمة */
}
    .card:hover {
      transform: scale(1.05);
    }
    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
.last{
  width: 100%;
  height: auto;
  background-color: #061830;
padding-top: 40px ;

}
.last .project{
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.last .project h5{
  color: white;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}
.last .project p{
  width: 60%;
  color: silver;
  font-size: 32px;
  font-weight: 400;
  margin: 10px 0;
  text-align: center;
  line-height: 1.5;
}
.last .project .projects{
  margin: 10px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.last .project .projects .projectCard{
  width: 400px;
  height: 400px;
  background-color: #FFF8F0;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 10px 0;
 box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.5s ease;
}
.last .project .projects .projectCard img{
width: 100%;
height: 300px;
margin-bottom: 10px;
}
    .projectCard:hover {
      transform: scale(1.05);
    }
    .last .project .projects .projectCard h4{
      font-size: 22px;
      font-weight: 600;
      margin: 5px 0;
      padding: 10px;
    
    }
    .last .project .projects .projectCard p{
      width: 100%;
      font-size: 16px;
      font-weight: 300;
      color: #555;
      text-align: center;
      line-height: 1.5;
 
    }
.services{
  width: 100%;
height: auto;
margin-top: 80px;
  display: flex;
  padding: 40px;
  border: none;
background-image: linear-gradient(
  to bottom right,
  rgba(82, 142, 229, 0.3) 0%,   /* أحمر صغير */
  #061830 20%,                 /* الأزرق الداكن يبدأ يسيطر بدري */
  #061830 80%,                 /* الأزرق الداكن يضل أغلب الشاشة */
  rgba(207, 27, 24, 0.8)100% /* الأزرق الفاتح يا دوب يظهر في الزاوية */
);
}
.services .leftServices{
  padding: 70px;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #FFF8F0;
}
.services .leftServices h5{
  font-size: 48px;
  margin: 0;
  font-weight: 700;

}
.services .leftServices p{
  width: 100%;
  font-size: 32px;
  font-weight: 400;
  line-height: 2.5rem;
}
.services .rightServices{
margin-top: 40px;
  width: 70%;
  height: auto;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-wrap: wrap;
}
.services .rightServices .box{
  padding: 30px;
  width: 312px;
  height: 276px;
  background-color: #FFFFFF;
  border-radius: 12px;
}
.box1{
  transform: translateY(-20px);
}
.services .rightServices .box h4{
  color: #132238;
  font-size: 20px;
  font-weight:700;
  line-height: 24px;
}
.services .rightServices .box p{
  color:#556070 ;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.services .rightServices .box11 .imageIcon{
  background-color: #528EE5;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.services .rightServices .box12 .imageIcon{
  background-color: #528EE580;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.services .rightServices .box .imageIcon img{
  width: 35px;
  height: 35px;
}
.achievements{
  width: 100%;
  height: auto;
  background-color: #FFF8F0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.achievements h4{
  font-size: 48px;
  font-weight: 700;
  color: #0C1E34;
  line-height: 56px;
}
.achievements p{
  font-size: 32px;
  color: #87909D;
  line-height: 45px;
  font-weight: 400;
  width: 70%;
  text-align: center;
  margin: 0;
}
.lastAchievements{
  margin-bottom: 50px;
margin-top: 20px;
display: flex;
justify-content: start;
padding:  30px;
border-radius: 16px;
width: 85%;
height: 500px;
background-color: #FFFFFF;
}
.leftAchievements img {
border-radius: 16px;
}
.rightAchievements{
  width: 100%;
  padding:  0 10px;
  display: flex;
  flex-direction: column;
 text-align: left;
}
.rightAchievements h4{
  font-size: 40px;
  font-weight: 700;
  color: #0C1E34;
  line-height: 56px;
  padding:  0 4px;
}
.rightAchievements p{
  font-size: 19px;
  width: 100%;
  word-break:keep-all;
}
.contact{
  box-shadow: #061830 0px -1px 40px 0px ;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
background-image: linear-gradient(
  to top right,
   rgba(207, 27, 24, 0.8)10% ,   /* أحمر صغير */
  #061830 ,                 /* الأزرق الداكن يبدأ يسيطر بدري */
  #061830             /* الأزرق الداكن يضل أغلب الشاشة */
  /* الأزرق الفاتح يا دوب يظهر في الزاوية */
);

}
.contact h4{
  width: 35%;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color:white ;
}
.social{
margin-bottom: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.media{
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: wheat 1px 1px 10px 1px ;
  transition: all 1s ease-in-out  ;
}
.media  img{
  width: 40%;
  height: auto;
}
.media:hover {
      transform: scale(1.05);
    }
    footer{
      width: 100%;
      height: auto;
      background-color:#2B384C;
      display: flex;
      flex-direction: row;
      padding: 20px;
      justify-content: space-around;
    height: 90px;
    }
    footer .onepart{
      width: 90%;
      display: flex;
      gap: 1px;
    }
    footer .onepart h4{
      color: #FFFFFF;
      font-size: 32px;
      font-weight: 600;
      line-height: 30px;
    }
    footer .onepart img{
      width: 100px;
      height: 100px;

    }
    footer .twopart{
      width: 100%;
    }
    footer .twopart ul{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    footer .twopart ul li{
      padding: 30px;
    }
    footer .threepart{
      width: 100%;
    }
    footer .threepart h4{
      font-size: 20px;
      width: 100%;
    }
/* ================== Media Queries ================== */

/* للشاشات الصغيرة 768px أو أقل */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav .div1, nav .div2 {
    width: 100%;
    justify-content: space-between;
  }

  nav .div2 ul {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  button {
    width: 100%;
    text-align: center;
  }
}

/* للشاشات الصغيرة جداً 480px أو أقل */
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  nav .div1 h2 {
    font-size: 1.2rem;
  }

  nav .div2 ul {
    gap: 10px;
    font-size: 1rem;
  }

  nav .div1 img {
    width: 100px;
  }
}
/* للشاشات المتوسطة 900px أو أقل */
@media (max-width: 1080px) {
  nav {
    flex-direction: row; /* تجعل العناصر تصطف عمودياً */
 
    gap: 15px;
  }

  nav .div1, nav .div2 {
    width: 100%; /* كل div ياخد عرض كامل */
    justify-content: space-between;
  }

  nav .div2 ul {
  flex-direction: row; 
  flex-wrap: wrap;
  /* تجعل القائمة عمودية */
    justify-content: space-between;
    width: 100%;
  }

  nav .div1 h2 {
    font-size: 1.3rem;
  }

  nav .div1 img {
    width: 100px;
  }

  button {
    width: 100%;
    text-align: center;
  }
}
